@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Bebas Neue;
  src: url("../public/fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Raleway;
  src: url("../public/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: Goldman;
  src: url("../public/fonts/Goldman-Regular.ttf") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  @apply text-yellow hover:text-lightBlue visited:text-lightBlue;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
}

.light-scroll::-webkit-scrollbar-thumb{
  @apply bg-whiteBlue;
}

.dark-scroll::-webkit-scrollbar-thumb{
  @apply bg-darkBlue;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  @apply bg-yellow
}